* {
    font-family: Raleway;
    font-size: 13px;
}

input:not(input[type=submit]) {
    padding: 10px !important;
}

/* input , a {
    border-radius: 1 !important;
} */

.widthForm{
    width: 320px;
}

.hover:hover{
    background-color: rgba(211, 211, 211, 0.308);
}

.left , .right{
    top: 35px;
    overflow-y:auto ;
    max-height: 95%;
}

.center{
    overflow-y: auto;
}

.left{
    position:fixed;
    left: 0;
}

.right{
    position:fixed;
    right: 0;
}

body{
    overflow-y: scroll;
}


   
