* {
    font-family: Raleway;
    font-size: 13px;
}

input:not(input[type=submit]) {
    padding: 10px !important;
}

input , a {
    border-radius: 0 !important;
}

.widthForm{
    width: 320px;
}

.hover:hover{
    background-color: rgba(211, 211, 211, 0.308);
}

.left , .right{
    top: 35px;
    bottom: 0;
}

.center{
    overflow-y: auto;
}

.left{
    position:sticky;
    left: 0;
}

.right{
    position:sticky;
    right: 0;
}
